
.carousel-inner > .item > img {
    margin: 0 auto;
}

.amherst-logo {
	width: 100px;
	height: 100px;
}

.page-header {
	background-color: #605E87;
    margin: 0 !important;
    padding: 0;
    border: 0;
}

.page-header h1 {
	color: #FFF;
    margin: 0;
}

.nav {
    background-color: #310067;
    border: none;
}