<div class="page-header">
  <h1><img class="amherst-logo" src="assets/amherst-logo.jpg"/>Amherst College FC {{!-- <small>Subtext for header</small> --}}</h1>
</div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">About</a></li>
  <li role="presentation"><a href="#">Contact Us</a></li>
</ul>

{{outlet}}

<div class = "navbar navbar-default">
	<div class = "container">
	<p class = "navbar-text">Site Built By cjr</p>
	<a class="navbar-button btn-danger btn">Subscribe on Youtube</a>
	</div>
</div>